## Attempting to find the best way to categorize the female-led films and make the defining variable.

In [1]:
import pandas as pd
import numpy as np

movies_df = pd.read_csv("../data/output_data/clean_movies.csv")

In [ ]:
# checking how accurate the first listed actor/actress is in terms of being the star or main character
first_actors = movies_df['Actors'].str.split(',').str[0].str.strip()
print(first_actors.head(20))

print(movies_df['Title'].head(20))

0          Mark Wahlberg
1             Jamie Bell
2          Ryan Reynolds
3            Marc Singer
4         Tom Hiddleston
5          Jeremy Renner
6          Frankie Muniz
7             Ben Barnes
8          Jason Bateman
9             Jack Black
10            Chris Pine
11        Angelina Jolie
12          Sam Rockwell
13            Nick Nolte
14        Timothy Dalton
15             Al Pacino
16        Clint Eastwood
17    Natasha Henstridge
18           Hilary Duff
19       Jake Gyllenhaal
Name: Actors, dtype: object
0                                Four Brothers
1                     The Adventures of Tintin
2                                Green Lantern
3                              The Beastmaster
4                           Kong: Skull Island
5                                          Tag
6                                 Big Fat Liar
7     The Chronicles of Narnia: Prince Caspian
8                              Horrible Bosses
9                                  Nacho Libre
10                     Star Trek Into Darkness
11                Maleficent: Mistress of Evil
12                                The Bad Guys
13                                     48 Hrs.
14                        The Living Daylights
15                               Carlito's Way
16                            Heartbreak Ridge
17                                     Species
18                          A Cinderella Story
19                                  Demolition
Name: Title, dtype: object

In [ ]:
# getting the female actresses names from excel file

# opening the file
female_df = pd.read_excel("../data/input_data/female_actresses.xlsx")
female_df = female_df.rename(columns={'A': 'Name'})

# splitting to get the names only
female_df['Name'] = female_df['Name'].str.split(' born').str[0].str.split(r'\d').str[0].str.strip()

# deleting the rows that are just the letter headers
female_df = female_df[~female_df['Name'].isin(list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))]

num_actresses = len(female_df)
print(f'There are {num_actresses} actresses in the list')

There are 2452 actresses in the list

In [53]:
# Creating the variable to indicate if first actor is female
first_actors = movies_df['Actors'].str.split(',').str[0].str.strip()
movies_df['First_Actor'] = first_actors

# Check if the first actor is in the female name list
movies_df['Female_Lead'] = movies_df['First_Actor'].apply(lambda x: int(any(name in x for name in female_df['Name'])))

# checking the new variable
print(movies_df[['Title', 'First_Actor', 'Female_Lead']].head(10))
print(movies_df[['Title', 'First_Actor', 'Female_Lead']].tail(10))

# dropping the first_Actor column
movies_df = movies_df.drop(columns=["First_Actor"])

                                      Title     First_Actor  Female_Lead
0                             Four Brothers   Mark Wahlberg            0
1                  The Adventures of Tintin      Jamie Bell            0
2                             Green Lantern   Ryan Reynolds            0
3                           The Beastmaster     Marc Singer            0
4                        Kong: Skull Island  Tom Hiddleston            0
5                                       Tag   Jeremy Renner            0
6                              Big Fat Liar   Frankie Muniz            0
7  The Chronicles of Narnia: Prince Caspian      Ben Barnes            0
8                           Horrible Bosses   Jason Bateman            0
9                               Nacho Libre      Jack Black            0
              Title         First_Actor  Female_Lead
2806     The Family      Robert De Niro            0
2807      The Shack     Sam Worthington            0
2808  The Dead Zone  Christopher Walken            0
2809        The Ref         Denis Leary            0
2810        Flyboys        James Franco            0
2811            ATL   Tip 'T.I.' Harris            0
2812    Like a Boss     Tiffany Haddish            1
2813     Enemy Mine        Dennis Quaid            0
2814     Proud Mary    Taraji P. Henson            1
2815        Valmont         Colin Firth            0

In [56]:
# Count of the split
female_lead_count = movies_df['Female_Lead'].value_counts()
print(female_lead_count)

Female_Lead
0    2328
1     488
Name: count, dtype: int64

In [54]:
movies_df.to_csv("../data/output_data/clean_movies_sent_fem.csv", index=False)